body {
    background-color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.player-container {
    display: flex;
    flex-direction: row;
    width: 1600px;
    margin: 20px auto;
    padding: 25px;
    background-color: #5a5858;
    color: #fff;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid white;
}

.menu_videos {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 225px;
    background-color: #7c7c7c;
    border: 1px solid white;
    text-align: center;
}

.menu_videos a img {
    width: 150px;
}